h1{
    color: blueviolet;
    text-align: center;
    font-size: xx-large;
}

body{
    text-align: center;
    font-size: x-large;
    background-image: url(../images/milk\ shake.jpeg);
    font-weight: 100;
}